<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Web_Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Web_Services.Properties.Settings>
            <setting name="Web_Services_WS_LDAP_Search_LDAP_Search" serializeAs="String">
                <value>https://preprod-wsw.temple.edu/ws_ldapsearch/ldap_search.asmx</value>
            </setting>
            <setting name="Web_Services_WS_Programs_And_Degrees_ProgramsAndDegrees"
                serializeAs="String">
                <value>https://preprod-wsw.temple.edu/programsanddegrees/ProgramsAndDegrees.asmx</value>
            </setting>
            <setting name="Web_Services_WS_Student_Search_WS_Student" serializeAs="String">
                <value>https://preprod-wsw.temple.edu/ws_student/ws_student.asmx</value>
            </setting>
        </Web_Services.Properties.Settings>
    </applicationSettings>
</configuration>